﻿@model IEnumerable<jvd.samples.mvc4.Models.Data.Chronos_Entry>

  <table>
        <tr>
            <th>Entry Date</th>
            <th>Billable?</th>
            <th>Project</th>
            <th>Activity</th>
            <th>Comments</th>
        </tr>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.EntryDate</td>
                <td>@entry.Billable</td>
                <td>@entry.Core_Project.ProjectName</td>
                <td>@entry.Chronos_Activity.ActivityName</td>
                <td>@entry.Comments</td>
            </tr>
        }
    </table>