﻿@model IEnumerable<jvd.samples.mvc4.Models.Data.Chronos_Entry>
@{
    ViewBag.Title = "Chronos";
}

<h2>Chronos Entries</h2>
@using (Html.BeginForm())
{
    <div class="filter-panel">
        <div class="editor-field">
            @Html.Label("UserName", "User Name")
            @Html.TextBox("UserName")
        </div>
        <div class="editor-field">
            @Html.Label("StartDate", "Start Date")
            @Html.TextBox("StartDate")
        </div>
        <div class="editor-field">
            @Html.Label("EndDate", "End Date")
            @Html.TextBox("EndDate")
        </div>
        <div class="editor-field">
            <input type="button" value="Search" id="search-button" />
            @*  <input type="submit" value="Search" />*@
        </div>
    </div>
}
<div class="wrapper">
    @Html.Action("GetSearchResults")
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#search-button').click(function () {
                // extract data from input fields
                var filter = { StartDate: $('#StartDate').val(), EndDate: $('#EndDate').val(), UserName: $('#UserName').val() };

                $.post('@Url.Action("GetSearchResults")', filter, function (response) {
                // what do i do??
                $('.wrapper').html(response);
            });
        });
    });
    </script>
}